[project]
name = "completor"
#version = "0.0.1"
dynamic = ["version"]
description = "Advanced well completion"
authors = [{name = "Equinor ASA", email="opensource@equinor.com"}]
readme = "README.md"
requires-python = ">=3.8"
keywords=["fmu", "ert", "completor", "eclipse", "opm"]
classifiers=[
    "License :: OSI Approved :: AGPL v3.0",
    "Operating System :: OS Independent",
    "Natural Language :: English",
    "Programming Language :: Python :: 3.8",
    "Programming Language :: Python :: 3.9",
    "Programming Language :: Python :: 3.10",
    "Programming Language :: Python :: 3.11",
]

dependencies = [
    "matplotlib",
    "numpy<2",
    "pandas",
    "scipy",
    "Pillow>=10.0.1",  # not directly required, pinned to avoid a vulnerability
    "pydantic>=2.4.2",
]

[project.optional-dependencies]
ert = ["ert"]
tests = [
    "black",
    "flake8",
    "pre-commit",
    "pytest",
    "setuptools_scm",
    "promise",
    "rstcheck",
]

[project.scripts]
run_completor = "completor.hook_implementations.entry_point:installable_jobs"
#completor = "completor.main:main"

[project.entry-points."console_scripts"]
completor = "completor.main:main"
#run_completor = "completor.hook_implementations.entry_point:installable_jobs"

[project.urls]
GitHub = "https://github.com/equinor/completor"
Issues = "https://github.com/equinor/completor/issues"
#Documentation = ""

[tool.setuptools_scm]
[build-system]
requires = ["setuptools>=64", "setuptools_scm>=8"]
build-backend = "setuptools.build_meta"

[tool.black]
line-length = 120
target-version = ['py310']
include='\.pyi?$'
extend-exclude = '''\.git |
            \.__pycache__|
            \.hg|
            \.mypy_cache|
            \.tox|
            \.venv|
            _build|
            buck-out|
            build|
            dist'''

[tool.isort]
profile = "black"
line_length = 120

[tool.flake8]
max_line_length="132"
ignore="E203, W503, E704"
