name: Lint code

on:
  workflow_call: # Enables workflow to be called from another workflow.


jobs:
  pre-commit:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout commit locally
        uses: actions/checkout@v4

      - name: Install poetry
        run: pipx intstall poetry

      - name: Set up Python 3.10
        uses: actions/setup-python@v5
        with:
          python-version: "3.10"
          cache: "poetry"

      - name: Install pre-commit
        run: |
          pip install pre-commit
          pre-commit install

      - name: Run pre-commit
        run: |
          SKIP="no-commit-to-branch" pre-commit run --all-files
